/* ACTU */

*, *:before, *:after {
    position: relative;
  }



  body{
    background-attachment: fixed;
    font-family: Oswald,Helvetica,Arial,sans-serif;
    color: black;
    margin: 0;
  }

  /* Background Mention legales / CGU / FAQ / ACTU/ lineup*/


  .bodylineup{
    background-image: url(Image/background-beige.jpg);
  }

  .bodyfaq{
    background-image: url(Image/background-beige.jpg);
  }

  .bodyactu{
    background-image: url(Image/background-mauve.jpg);
    font-size: 20px;
  }

  .MGCU{
    background-image: url(Image/background-green.jpg);
  }

  .billetterie{
    background-image: url(Image/background-orange.jpg);
  }

  /* HEADER */
  .main-headerFAQ .main-headerlineup {
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-top: -130px;  }

    /*navbar*/
    .navbar .menu-hamburger{
      display:none;
      position: absolute;
      top: 45px;
      right: 50px;
      width: 100px;
    }

    .navbar{
      padding: 0;
    } 

    .navbar .menu-hamburger{
          display: block;
          z-index: 4;
      }
  
    
    .nav-links{ 
      z-index: 3;
      top:0;
      left:0;
      position: absolute;
      width: 100%;
      height: 100vh;
      margin-left: -100%;
      background-image: url(Image/background-orange.jpg);
      transition-delay: 0s;
      -o-transition-timing-function:(cubic-bezier(.19,1,.22,1));
      transition-duration: 0.7s;
      transform: translate(-50%);
    }
  
    .containernav{
      margin-top: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .astronaute{
      margin-right: 800px;
    }
    
    .nav-links.mobile-menu{
      margin-left: 0;
      transform: translate(0);
    
    }
    .nav-links ul{
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: transform 1s ease;
    }
    
    
    .navbar .nav-links ul li{
      margin:  25px 0;
      font-size: 1.5em;
    }
  
    .logoheader{
      width: 20%;
      height: 20%;
      margin-left: 35%;
    }
  
    .iconsnav{
      display: flex;
      justify-content: end;
    }

    .sticky-nav {
      /* Styles de votre barre de navigation */
      transition: top 0.3s;
      width: 100vw;
    }

    .sticky {
      position: fixed;
      top: 0;
      z-index: 999;
      /* Styles supplémentaires pour la barre de navigation fixée */
    }


  /* TEXTE */
.main{
    margin-bottom: 4rem;
    padding: 5em 10em 2em 10em;
}

.containerM{
        width: 100%;
        max-width: 1580px;
        margin: 0 auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        display: flex;
        text-align: start;
        flex-direction: column;
  }

.main .video{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    max-width: 100%;
}

  h1{
    display: flex;
    text-align: center;
    justify-content: center;
    color: black;
    font-size: 80px;
  }

  .actu2{
    color: black;
  }


/* FAQ CSS */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; 
  }
  
  .FAQimg img {
    width: 100%;
  }
  
  .FAQtext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 6vh;
    color: white;
  }
  
  .faq-heading {
    font-weight: bold;
    font-size: 19px;
    -webkit-transition: text-indent 0.2s;
    text-indent: 20px;
  }
  
  .faq-text {
    font-weight: 400;
    color: black;
    width:95%;
    padding-left:20px;
    margin-bottom:30px;
  }
  
  .faq {
    width: 1000px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 1em;
  }
  
  .faq label {
    display: block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    height: 56px;
    padding-top:1px;
    border-bottom: 2px solid black;
  }
  
  .faq input[type="checkbox"] {
    display: none;
  }
  
  .faq .faq-arrow {
    width: 5px;
    height: 5px;
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-top: 2px solid black;
    border-right: 2px solid black;
    float: right;
    position: relative;
    top: -30px;
    right: 27px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
   .faq input[type="checkbox"]:checked + label > .faq-arrow {
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
   .faq input[type="checkbox"]:checked + label {
    display: block;
    height: fit-content;
    transition: height 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
   .faq input[type='checkbox']:not(:checked) + label {
    display: block;
    transition:  0.8s;
    height: 60px;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  ::-webkit-scrollbar {
    display: none;
  }



/* FOOTER */

footer .footerFAQ {
    background-image: url(Image/background-beige.jpeg);
    background-attachment: fixed;
    padding: 20px;
  }

  footer .footerActu {
    background-image: url(Image/background-mauve.jpeg);
    padding: 20px;
  }

  /* background mention legales/CGU */
  footer .footerMCGU{
    background-image: url(Image/background-green.jpeg);
    padding: 20px;
  }

  .containerclosure{
    font-size: 18px;
  }

  .containerfooter{
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
  }

  .icons nav {
    margin-bottom: 10px;
  }

  .newsletter form input[type="email"] {
    width: 250px;
    padding: 8px;
    border: none;
    border-radius: 4px;
  }

  .newsletter form button {
    padding: 8px 16px;
    background-color: orange;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .social-logo {
    width: 50px;
    height: 50px;
    margin: 0 0 0 0;
  }

  .closure{
    width: 100%;
    height: 10vh;
    position: relative;
  }

  .containerclosure{
    border-top: 2px black solid;
    margin: 1em 2em 3em 2em;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }

  .suplement{
    margin-top: 2em;
  }

  a{
    text-decoration: none;
    color: black;
  }

     /*BOUTON*/

     button, a.actu2, a.tromper{
      position: relative;
      display: inline-block;
      cursor: pointer;
      outline: none;
      border: 0;
      vertical-align: middle;
      text-decoration: none;
      font-family: inherit;
      font-size: 15px;
      color: #EB5C35
     }
     
     button.menu-hamburger, a.actu2,a.tromper{
      font-weight: 600;
      color: #EB5C35;
      text-transform: uppercase;
      padding: 1.25em 2em;
      background: black;
      border: 2px solid #4d4d4d;
      border-radius: 0.75em;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
      border-radius: 40em;
  
     }
     
     button.menu-hamburger::before, a.actu2::before,a.tromper::before{
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: black;
      border-radius: 40em;
      -webkit-box-shadow: 0 0 0 2px grey, 0 0.625em 0 0 #4d4d4d;
      box-shadow: 0 0 0 2px #4d4d4d, 0 0.625em 0 0 ;
      -webkit-transform: translate3d(0, 0.75em, -1em);
      transform: translate3d(0, 0.75em, -1em);
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
     }
     
     button.menu-hamburger:hover, a.actu2:hover,a.tromper:hover{
      background: black;
      -webkit-transform: translate(0, 0.25em);
      transform: translate(0, 0.25em);
     }
     
     
     button.menu-hamburger:active, a.actu2:active,a.tromper:active{
      background: black;
      -webkit-transform: translate(0em, 0.75em);
      transform: translate(0em, 0.75em);
     }
     
     button.menu-hamburger:active::before, a.actu2:active::before,a.tromper:active::before{
      -webkit-box-shadow: 0 0 0 2px #b18597, 0 0 ;
      box-shadow: 0 0 0 2px #b18597, 0 0 ;
      -webkit-transform: translate3d(0, 0, -1em);
      transform: translate3d(0, 0, -1em);
     }

     ul{
      list-style: none;
     }


       /* line-up */

  .recherche{
    display: flex;
    justify-content: space-evenly;
    font-size: 3em;
    font-weight: bold;
    border-top: black 2px solid;
    border-bottom: black 2px solid;
    margin: 50px;
  }
  .classement{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
  }

 .tri{
  display: flex;
  text-align: center;
  flex-direction:column-reverse;
  margin: 50px;
 }

 .daynom{
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  font-weight: bold;
  border-top: black 3px solid;
  border-bottom: black 3px solid;
  margin-top: 20px;
 }

 .nom{
  font-size: 2em;
 }

.rangement{
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}
.rangement a {
  width: fit-content;
  height: fit-content;
  font-weight: bold;
}

/*billeterie*/

.tromper{
  margin-top: 90px;
}

.footerticket{
  max-width: 58.75rem;
  margin: 0 auto;
  padding: 20px 60px;

}

.titre{
  font-size: 100px;
  font-weight: bold;
  background-image: url(Image/background-green.jpg);
  display: flex;
    justify-content: space-around;
    max-width: 58.75rem;
    margin: 0 auto;
    padding: 20px 60px;
}

.containeuresa{
  display: flex;
    justify-content: space-around;
    max-width: 58.75rem;
    margin: 0 auto;
    padding: 80px 60px;
    background-color: #ffffff;
}

.containeuresa .card img{
  width: 250px;
  height: 100%;
  transition: transform 1s ease;
}

.nav-links ul li:hover{
  transform: scale(1.1);
}

.containeuresa .card:hover img {
  transform: scale(1.1);
}

.card a:focus {
  outline: none; /* Supprimer la bordure par défaut */
  box-shadow: 0 0 5px 2px rgba(0, 0, 255, 0.5); /* Ajouter une ombre autour du lien */
}

/*billeterie2*/
.containeuresa1{
  font-weight: bold;
  display: flex;
  justify-content: center;
  max-width: 58.75rem;
  margin: 0 auto;
  padding: 80px 60px;
  background-color: #ffffff;
}


.titre2{
  display: flex;
  padding: 50px 60px 20px;
  justify-content: center ;
  font-size: 30px;
  max-width: 58.75rem;
  margin: 0 auto;
  background-color: white ;
}

.card1{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 250px;
  min-width: 200px;
  background-color: #EB5C35;
  margin: 10px;
  cursor: pointer;
  font-size: 25px;
}

.card1:hover{
  background-color: grey;
}
